.wrapper {
    position: relative;
    width: 100%;
    min-height: 225px;
    border-radius: 20px;
    background: #f8f8f8;
    margin-top: 20px;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding-top: 86px;
  }
  .jokeRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    padding-left: 5px;
  }
  
  .jokeLeftSide {
    width: 15%;
  }
  
  .linkTitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ababab;
  }
  
  .link {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-left: 3px;
    color: #8ea7ff;
    cursor: pointer;
  }
  .linkImg{
    padding-left: 6px;
  }
  .text {
    padding: 5px 0 25px 0;
    font-size: 18px;
    line-height: 26px;
  }
  
  .footerInfo {
    font-size: 10px;
    line-height: 14px;
  
    padding-right: 3px;
    color: #ababab;
  }
  
  .itemFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .category {
    display: flex;
    align-items: center;
    width: 107px;
    height: 24px;
    border-radius: 6px;
    background: #ffffff;
  }
  
  .categoryName {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #333333;
  }
  
  .likeBtn {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
  }
  
  .messageImg {
    padding-top: 5px;
  }
  
  .footerXs {
    flex-direction: column;
    justify-content: space-around;
  }
  