.favSide {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 71px;
}

.title {
  display: block;
  width: 84px;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ababab;
}

.showFavSide {
  display: flex;
  padding-top: 40px;
}

.showFavSideBtn{
  position: relative;
  width: 28px;
  height: 28px;
  background: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.BtnIcon{
  position: absolute;
  width: 14px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  
  transform: rotate(45deg);
}
.BtnIcon:nth-child(2) {
  position: absolute;
  width: 14px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transform: rotate(-45deg);
}








.showFavSideXsMState {
  align-self: end;
}

