.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .resultMessageState {
    z-index: 300;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    min-height: 180px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 100px auto;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    color: #ababab;
  }
  .messageBtn {
    margin-bottom: 20px;
    width: 50%;
    height: 42px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    color: white;
    background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  }
  .messageBtn:hover {
    background: #536cc7;
  }
  .messageBtn:active {
    background: #536cc7;
    font-size: 17px;
    transition: 0.2s;
  }
  .messageText {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  