@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');





.favSide{
  bottom: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 200;
  width: 30%;
  background: #F8F8F8;
  position: fixed;
  transition: transform 0.3s ease-out;
  overflow: auto;

}

.mState{
  transform: translateX(100%);
}
.xsState{
  transform: translateX(100%);
}
.mdState {
  transform: translateX(0%);
}
.open{
  transform: translateX(0%);
}
.openXS{
  width: 100%;
}
.openMd{
  width: 60%;
}

