.formBtn{
margin-bottom: 20px;
width: 152px;
height: 42px;
background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
color:white;
border-radius: 10px;
outline: none;
border: none;
font-weight: bold;
font-size: 16px;
line-height: 22px;
cursor: pointer;
font-family: Roboto;
font-style: normal;
font-weight: bold;

}
.formBtn:hover{
background: #536CC7;
}
.formBtn:active{
background: #536CC7;
font-size: 17px;
transition: 0.2s;
}  

.categoriesArea{
display: flex;
flex-wrap: wrap;
width: 55%;
margin: 10px 0 10px 0;
}
.optionName{
font-size: 18px;
padding-left: 10px;
}
.option{
padding-bottom: 10px;
}


