.formBtn{
    margin-bottom: 20px;
color:white;  
width: 152px;
height: 42px;
background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
border-radius: 10px;
outline: none;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
cursor: pointer;
}
.formBtn:hover{
  background: #536CC7;
}
.formBtn:active{
    background: #536CC7;
}  

.categoriesArea{
width: 50%;
display: flex;
flex-wrap: wrap;
margin-top: 10px;
margin-bottom: 10px;
}
.optionName{
    font-size: 18px;
    padding-left: 10px;
}
.option{
    padding-bottom: 10px;
}