@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.category{
  display: block;
  margin: 5px;
}

.appContainer{
  display: flex;
  flex-direction: row;
}
.mainSide{
width: 70%;
background: #FFFFFF;
}

.mainSection{
  width: 90%;
  margin: 0 auto;
  background: #FFFFFF;
  display:flex;
  flex-direction: column;
}
.sign{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: #333333;
}
.greetingTitle{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 44px;
}
.greetingSubTitle{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 44px;
}
@media (min-width: 575.98px){
  .Appcontainer {
    max-width: 575px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .Appcontainer {
    max-width: 767px;	
  }
}

@media (min-width: 991.98px) {
  .Appcontainer {
    max-width: 991px;
  }
}

@media (min-width: 1199.98px){
  .Appcontainer {
    max-width: 1199px;
  }
}