
h1,h2{
  padding: 0;
  margin: 0;
  display: block;
}
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, 'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

